.site {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 120px 1fr 100px;
    grid-template-areas: 
        'cabecalho cabecalho navegacao navegacao'
        'routes routes routes routes'
        'rodape rodape rodape rodape'
}

.routes {
    grid-area: routes;
    margin: 0px;
    padding: 0px;
}