.navegacao {
    display: flex;
    flex-direction: line;
    justify-content: center;
    align-items: center;
    background-color: black;

    grid-area: navegacao;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2em;

    margin: 0px 40px ;
    
    color: white;
}

.link:hover {
    color: rgb(206, 206, 206);
}